@import url('https://fonts.googleapis.com/css2?family=Palanquin&display=swap');
html{
    box-sizing:border-box;
  }
  *,*:before, *:after{
  box-sizing: inherit;
  }
body{
    background:#B5838D;
    display:flex;
    align-items: center;
    justify-content: center;
    min-height:100vh;
    font-family: 'Palanquin', sans-serif;
    
}
main{
    justify-content: center;
    min-height:100vh;
    margin:40px;
    font-family: 'Palanquin', sans-serif;
}
.main-heading{
    position: absolute;
    width: 417px;
    height: 76px;
    left: 400px;
    top: 95px;
    font-size: 51px;
    line-height: 48px;
}
.yourText{
    position: absolute;
    width: 624px;
    height: 320px;
    left: 408px;
    top: 200px;
    padding: 20px;
    border:1px solid wheat;
    border-radius: 40px;

}
.button_1{
    display: flex;
padding: 10px;
position: absolute;
width: 80px;
height: 40px;
left:820px;
top: 550px;
background: #FAFAFC;
color: #121232;
font-weight: 600;
font-size: 21px;
line-height: 16px;
border: 1px solid #121232;
box-sizing: border-box;
border-radius: 4px;
justify-content: center;

}
.button_2{
display: flex;
padding: 10px;
position: absolute;
width: 80px;
height: 40px;
top: 550px;
left:930px;
font-weight: 600;
font-size: 21px;
line-height: 16px;
color:white;
border: 1px solid #121232;
box-sizing: border-box;
border-radius: 4px;
background: #121232;
justify-content: center;

}